/* Color Variables */

$color-var: #3D3D3D;
$color-background: #6D6D6D;

body {
    color: $color-var;
    background-color: $color-background;
}
  
p {
    color: $color-var;
}

h2 {
    background-color: $color-background;
}